.indicator{
  display: flex;
  flex-direction: column;
  margin: 20px;
  background-color: #f0f0f0;
  padding: 15px;
  border-radius: 12px;
  border: #9F9F9F 1px solid;
  justify-content: space-between;
  cursor: pointer;
}


.indicator:hover{
  box-shadow: 0px 0px 10px 8px rgba(224,224,224,1);
}

.indicator > h4{
  display: flex;
  color: rgb(43, 43, 167);
  margin: 0;
}

.indicator > article{
  display: flex;
  flex-direction: row;
}
.indicator > article > div{
  padding: 0px 6px;
}

.indicator > footer{
  display: flex;
  justify-content: flex-end;
  align-content: flex-end;
  bottom: 0;
}